.HPG {
    border: 1px solid #eccf83;
    padding: 0.5rem 1rem;
    
    background: rgb(163,119,173);
    background: linear-gradient(47deg, rgba(163,119,173,1) 7%, rgba(130,65,143,1) 26%, rgba(9,15,62,1) 64%, rgba(90,99,160,1) 100%, rgba(13,66,11,1) 100%);
    /* text-align: start; */
 
    border-radius: 10px;
    border: none;
    
}

.card {
    height: 144px;
    background: transparent;
    border-color: #fff;
    border-left: none;
    border-right: none;
    position: relative;
    right: 0.5rem;
    border-radius: 1px;
}

.stoki {
    color: #eccf83;
    font-size: 24px;
}

input {
    background: transparent;
    width: 40%;
    border: none;
    border-bottom: 1px solid #fff;
    color: #fff;
}

@media only screen and (max-width: 600px) {
    .stoki {
        color: #eccf83;
        font-size: 18px;
    }
    .card-stack {
        display: flex;
        justify-content: space-between;
    }
    
}

@media only screen and (max-width: 1200px) {
    .card-stack {
        display: flex;
        justify-content: space-between;
    }
}
