

.border_coin {
    margin: 20px 0;
    border-top: 2px solid #fff;
}

.buy1 {
    display: flex;
    /* justify-content: space-between; */
    
}
.buy_input {
    width: 70%;
    height: 48px;
    background-color: black;
    border: none;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    
}

.buy_btn {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    
}

.buy_border {
    border: 1px solid #fff;
    background: rgb(163,119,173);
    background: linear-gradient(47deg, rgba(163,119,173,1) 7%, rgba(130,65,143,1) 26%, rgba(9,15,62,1) 64%, rgba(90,99,160,1) 100%, rgba(13,66,11,1) 100%);
    border: none;
    padding: 0.1rem 2rem;
    width: 70%;
    
}
@media only screen and (max-width: 600px) {
    .buy_heading {
        font-size: 43px;

    }
    
    }