

img.logo_image {
    max-height: 60px !important;
    width: 60px;
    
    
}
.active {
    color: red; /* or any other style you prefer */
  }


.text-white {
    color: #fff;
}

/* .center {
    margin: 0 auto;
    align-items: center;
    justify-content: center;
} */

.navbar-nav .dropdown-menu {

    background-color: rgb(26, 26, 26);

}

.dropdown-item {
    color: #fff;
}

.btn-dark {
    background: #fff;
    color: #060606;
}

.btn-dark:hover {
    background-color: #ebefff;
    color: #000;
}

.navbar-nav .nav-link,
.navbar-nav .nav-link.show {
    color: #fff;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
    color: #fff;
}


.sticky-header {
    background: #1a1135;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(18px);
    position: sticky;
    opacity: 1;
border-bottom: 1px solid rgba(255,255,255,.1);
/* display: none; */
/* position: absolute; */
top: 0%;
bottom: 0%;
left: 0%;
right: 0%;
    transform: translateY(-80px);
    z-index: 20;
    animation: sticky-header 0.3s ease forwards;
}

.navbar-toggler {
    /* background-color: transparent; */
  /* background: none; */
  background: transparent;
    outline: 0 !important;
    border: none;
    
    
}

.navbar-toggler-icon {
    background-image: url(../../assets/icons8-menu-33.png);
    border-radius: 50px;
    color: #fff;
    padding: 1.1rem;
}
@keyframes sticky-header {
    0% {
        transform: translateY(-80%);
    }

    100% {
        transform: translateY(0);
    }
}

