.blog-border {
      /* border-color: rgba(255, 255, 255, 0.3);   */
      /* border-radius: 5%; */
    height: fit-content;

      border: none !important;
      background-color: #111421;
      position: sticky;
      top: 5rem;
      /* bottom: 5rem; */
     margin-bottom: 6rem;
}


.blog {
  cursor: pointer;
}

.blog-search {
    border-radius: 30px;
    background: transparent;
    border-color: #ccc;
    color: #fff;
}

.blanck-border {
  border: 1px solid #fff;
  width: 329px;
  height: 61px;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  background: #1b1f32;
  border: none;
  
  
}
.blog_heading {
  font-size: 62px;

}
@media only screen and (max-width: 600px) {
.blog_heading {
  font-size: 42px;

}
}