.rating_gif {
    border-radius: 5px;
    height: 419px !important;
}
@media only screen and (max-width: 600px){
.rating-sd {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: center;
 }
}

@media only screen and (max-width: 1200px){
  .col h2 {
    font-size: 24px;
  }

}